<!DOCTYPE html>

<html>
<head>
  <meta content="Flexible Nav is a jQuery library which uses HTML5 nav element to improve navigation and visualization of an HTML document." name="Description"/>
  <meta content="flexible nav jquery javascript library JS HTML5 CSS" name="Keywords"/>
  <title>Flexible Nav jQuery library</title> 
  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="docco.css" />
  <link rel="stylesheet" media="all" href="demo.css" />
  <link rel="stylesheet" media="all" href="flexible-nav.min.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script type="text/javascript" src="flexible-nav.min.js"></script>
	<script type="text/javascript">
	$(function(){
		new FlexibleNav( new FlexibleNavMaker().make().prependTo('body') );
	});
	</script>
<script type="text/javascript">
/* <![CDATA[ */
    (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
    })();
/* ]]> */
</script>
</head>
<body>
  <div id="container">
    <div id="background"></div>
      <div style="margin: 20px 50px;">
<a class="FlattrButton" style="display:none;" href="http://demo.greweb.fr/flexible-nav"></a>
<noscript><a href="http://flattr.com/thing/419255/Flexible-Nav-library" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>  
  </div>

    <% if (sources.length > 1) { %>
      <div id="jump_to">
        Jump To &hellip;
        <div id="jump_wrapper">
          <div id="jump_page">
            <% for (var i=0, l=sources.length; i<l; i++) { %>
              <% var source = sources[i]; %>
              <a class="source" href="<%= path.basename(destination(source)) %>">
                <%= path.basename(source) %>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
          <% var section = sections[i]; %>
          <tr id="section-<%= i + 1 %>">
            <td class="docs">
              <div class="pilwrap">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>
              <%= section.docs_html %>
            </td>
            <td class="code">
              <%= section.code_html %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9919624-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.gasrc = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
