<!DOCTYPE html>

<html>
<head>
  <meta content="Flexible Nav is a jQuery library which uses HTML5 nav element to improve navigation and visualization of an HTML document." name="Description"/>
  <meta content="flexible nav jquery javascript library JS HTML5 CSS" name="Keywords"/>
  <title>Flexible Nav jQuery library</title> 
  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="docco.css" />
  <link rel="stylesheet" media="all" href="demo.css" />
  <link rel="stylesheet" media="all" href="flexible-nav.min.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script type="text/javascript" src="flexible-nav.min.js"></script>
	<script type="text/javascript">
	$(function(){
		new FlexibleNav( new FlexibleNavMaker().make().prependTo('body') );
	});
	</script>
</head>
<body>
  <div id="container">
    <div id="background"></div>
    <% if (sources.length > 1) { %>
      <div id="jump_to">
        Jump To &hellip;
        <div id="jump_wrapper">
          <div id="jump_page">
            <% for (var i=0, l=sources.length; i<l; i++) { %>
              <% var source = sources[i]; %>
              <a class="source" href="<%= path.basename(destination(source)) %>">
                <%= path.basename(source) %>
              </a>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
    <table cellpadding="0" cellspacing="0">
      <tbody>
        <% for (var i=0, l=sections.length; i<l; i++) { %>
          <% var section = sections[i]; %>
          <tr id="section-<%= i + 1 %>">
            <td class="docs">
              <div class="pilwrap">
                <a class="pilcrow" href="#section-<%= i + 1 %>">&#182;</a>
              </div>
              <%= section.docs_html %>
            </td>
            <td class="code">
              <%= section.code_html %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
</html>
